.container, .navbar-header, .nav{
    display: flex;
    flex: 1;
    width: 1500px;
}

.navbar-nav>span {
    flex: 1
}
.navbar-nav>li {
    display: flex;
    align-items: center;
}
.navbar-nav>li>p {
    margin: 0;
    color: white;
}

.navbar-inverse {
    background-color: #4267b2;
    border-color: #4267b2;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}