.songs-toolbar{
    height: 50px;
    min-height: 50px;
}

.song-words{
    margin-top:20px;
    margin-bottom:20px;
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #dddddd;
    width: 900px;
    border-radius: 25px;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    transition: background-color 1s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.song-words:hover{
    background: #cceeff;
}

div.details-div{
    margin-left:5px;
    margin-top:10px;
    display:inline-block;
}

.song-title{
    text-shadow: 1px 1px #a1a1a1;
}

h6.sub-title{
    padding-left: 2em;
}