<body>
    <header>
        <nav class="navbar navbar-inverse colored navbar-top" style="margin: 0px; padding: 0px">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <a routerLink='/allSongs'>Songs</a>
                    </li>
                    <li>
                        <a routerLink='/artist'>Artists</a>
                    </li>
                    <li>
                        <a routerLink='/top10artists'>TOP 10 ARTISTS</a>
                    </li>
                    <li>
                        <a routerLink='/top10songs'>TOP 10 SONGS</a>
                    </li>
                    <li>
                        <a routerLink='/login' *ngIf="!user">Login</a>
                        <a routerLink='/logout' *ngIf="user">Logout</a>
                    </li>
                    <li>
                        <a routerLink='/register' *ngIf="!user">Register</a>
                    </li>
                    <span></span>
                    <md-sidenav-container class="aside-container">
                        <md-sidenav #sidenav class="aside-sidenav">
                            {{user?.userName}}
                        </md-sidenav>

                        <div class="aside-sidenav-content">
                            <button type="button" md-button (click)="sidenav.open()">
                                <li *ngIf="user">
                                    <p>Hello {{user?.firstName}}</p>
                                </li>
                        </button>
                        </div>
                    </md-sidenav-container>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <router-outlet></router-outlet>
        <!-- <div class="push"></div> -->
    </div>
    <footer class="footer">
        <h2>MusicWorld</h2>
    </footer>
</body>