<nav class="navbar navbar-inverse colored navbar-top" style="margin: 0px; padding: 0px">
    <div class="container">
        <img src="https://image.ibb.co/gnHAOa/Music_World.jpg" alt="Music_World" border="0">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink='/allSongs'>Songs</a>
                </li>
                <li>
                    <a routerLink='/artist'>Artists</a>
                </li>
                <li>
                    <a routerLink='/top10artists'>TOP 10 ARTISTS</a>
                </li>
                <li>
                    <a routerLink='/top10songs'>TOP 10 SONGS</a>
                </li>
                <li>
                    <a routerLink='/login' *ngIf="!user">Login</a>
                    <a routerLink='/logout' *ngIf="user">Logout</a>
                </li>
                <li>
                    <a routerLink='/register' *ngIf="!user">Register</a>
                </li>
                <span></span>
                <li *ngIf="user">
                    <p>hello {{user?.firstName}}</p>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <img src='src/app/Content/MusicWorld.jpg' alt="bla"> -->
<router-outlet></router-outlet>

<!-- <div layout="row" layout-align="center center">
    <video width="500" height="400" controls>
        <source src="./../books.mp4" type="video/mp4">
    </video>
</div> -->