<div class="artist">
    <md-card>
        <md-card-content>
            <div class="flex-container" fxLayout.xs="column" fx-layout="row">
                <h2>Artists</h2>
                <form class="form-inline" name="artistForm">
                    <div class="form-group">
                        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="artistSearch.firstName" name="firstName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="artistSearch.LastName" name="lastName">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="country" class="form-control" [(ngModel)]="artistSearch.country" name="country">
                    </div>
                </form>
                <button md-button (click)="searchArtist(artistSearch)">Search</button>
            </div>
            <md-divider></md-divider>
            <md-list class="artistList" *ngIf="showTable">
                <md-list-item *ngFor="let artist of artists" class="artist-item noright" aria-hidden="false">
                    <p class="flex-1">{{artist.firstName}}&nbsp;{{artist.lastName}}</p>
                    <!-- <md-icon (click)="artistDetailDialog(artist)">details</md-icon> -->
                    <md-icon class="flex-1" (click)="artistEditDialog(artist)" *ngIf="user">edit</md-icon>
                    <md-icon class="flex-1" md-raised-button (click)="artistDeleteDialog(artist)" *ngIf="user">delete</md-icon>
                </md-list-item>
            </md-list>
            <agm-map id="google-map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker *ngFor="let artist of artists" [latitude]="artist.lat" [longitude]="artist.long"></agm-marker>
            </agm-map>
        </md-card-content>
    </md-card>
    <button md-fab (click)="artistEditDialog(null)" *ngIf="user">
        <md-icon class="md-24 float-button-row md-fab-bottom-right">add</md-icon>
    </button>
</div>