<md-toolbar class="md-toolbar-tools songs-toolbar">
    <h2>{{title}}</h2>
    <md-dialog-actions>
        <button md-icon-button md-dialog-close><md-icon>clear</md-icon></button>
    </md-dialog-actions>
</md-toolbar>

<md-card-content class="md-padding">
    <div>
        <form class="form-inline" name="songForm" (ngSubmit)="saveArtist()">
            <div class="form-group">
                <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="selectedArtist.firstName" name="firstName">
            </div>
            <div class="form-group">
                <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="selectedArtist.lastName" name="lastName">
            </div>
            <div class="form-group">
                <input type="text" placeholder="country" class="form-control" [(ngModel)]="selectedArtist.country" name="country">
            </div>
            <div class="form-group">
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                    #search [formControl]="searchControl">
            </div>
            <agm-map id="google-map-inEdit" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
            <button type="submit" class="btn btn-warning btn-lg">Save</button>
        </form>
    </div>
</md-card-content>