<md-card>
    <md-card-content>
        <h2>All Songs</h2>
        <md-divider></md-divider>
        {{action}}
        <md-list>
            <md-list-item *ngFor="let song of songs">
                <p><b>{{ song.name }}</b>/{{ song.artist.firstName }} {{ song.artist.lastName }}</p>
                <span flex></span>
                 <div layout="row" layout-align="end center" *ngIf="action == 'all'">  
                    <md-icon (click)="songDetailDialog(song)">details</md-icon> 
                 </div> 
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>


