<md-card>
    <md-card-content>
        <h2>TOP 10 Artists</h2>
        <md-divider></md-divider>
        <md-list>
            <md-list-item *ngFor="let artist of artists">
                <p>{{ artist.firstName }}&nbsp;{{artist.lastName}}</p>
                &nbsp;
                <p>{{artist.plays}} plays</p>
            </md-list-item>
        </md-list>
        <svg id="artists-views" width="500" height="500"></svg>
    </md-card-content>
</md-card>
<h1>My First Google Map</h1>

<div id="map" style="width:400px;height:400px">My map will go here</div>

<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.12),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>